.sidebar{
    width: 22% !important;
    height: 100vh;
    background: rgba(255, 141, 0, 0.15);
    color: var(--white);
    justify-content: flex-start;
}

.sidebar .logo{
    width: 273px;
    height: 69px;
    margin: 75px 0px 100px 0px;
}

.sidebar span{
    color: var(--grey-cc-60);
}

/* sidebar item css */
.nav-item{
    color: var(--black);
    line-height: 10px;
    padding-bottom: 0px;
    opacity: .8;
    position: relative;
    transition: all .4s;
    font-size: 22px;
}

.nav-item:hover{
    color: var(--black);
    text-decoration: none;
}

.active-nav-item{
    position: relative;
    opacity: 1;
    transition: all .5s;
    background: var(--grey-shadow);
    color: var(--black);
}